In [1]:
import pandas as pd
import numpy as np
import re

C:\Users\Arjun Janamatti\Anaconda3\envs\tf_nptel\lib\site-packages\numpy\core\__init__.py:29: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Arjun Janamatti\Anaconda3\envs\tf_nptel\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\Arjun Janamatti\Anaconda3\envs\tf_nptel\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
excel_file = pd.ExcelFile('mobile_data.xlsx')

In [3]:
# get the list of all sheet names in excel sheet
sheet_names = list(excel_file.sheet_names)

In [4]:
# get all the numbers in sheet name which will be used for user_id column
user_id_list = []
for sheet in sheet_names:
    user_id_list.append(re.findall("\d+", sheet)[0])

In [5]:
# parsing all the sheets to a dictionary
trial_dict = {}
for sheet in sheet_names:
    trial_dict[sheet] = excel_file.parse(sheet)

In [6]:
# shuffling the pandas dataframe
for sheet in sheet_names:
    trial_dict[sheet] = excel_file.parse(sheet).sample(frac=1).reset_index(drop=True)

In [7]:
# selecting only half of the dataframes in each sheet, so that there is some randomness
for sheet in sheet_names:
    trial_dict[sheet] = excel_file.parse(sheet)[:150]

In [8]:
# adding user_id column for each dataframe
for index, sheet in enumerate(sheet_names):
    trial_dict[sheet]['user_id'] = np.repeat(a=np.array([user_id_list[index]]), repeats=len(trial_dict[sheet]))

In [9]:
# combined_df = pd.concat([pd.concat(v) for k,v in trial_dict.items()])
combined_df = pd.concat([v for k, v in trial_dict.items()], axis=0)
combined_df

               model_name Category  Views  Likes  Comments user_id
0        Huawei nova 8 5G   Mobile    418    117       853       1
1    Huawei nova 8 Pro 5G   Mobile    262    277       248       1
2               Honor V40   Mobile    434    767       289       1
3        Oppo Find X3 Neo   Mobile    255    507       161       1
4            Oppo Find X3   Mobile    700    441       921       1
..                    ...      ...    ...    ...       ...     ...
145        Huawei Mate 30   Mobile    113    182       191      83
146    Huawei Mate 30 Pro   Mobile    922    161       157      83
147        HuaweiÂ Nova 5   Mobile    526    565       613      83
148    HuaweiÂ Nova 5 Pro   Mobile    529    866       654      83
149   HuaweiÂ Nova 5i Pro   Mobile    476    643       170      83

[12450 rows x 6 columns]

In [10]:
combined_df.to_pickle('mobilecombined_df.pickle')

In [13]:
def get_combined_df(pkl_file, excel_file):
    try:
        combined_df = pd.read_pickle(pkl_file)
    except:
        excel_file = pd.ExcelFile(excel_file)
        # get the list of all sheet names in excel sheet
        sheet_names = list(excel_file.sheet_names)
        # get all the numbers in sheet name which will be used for user_id column
        user_id_list = []
        for sheet in sheet_names:
            user_id_list.append(re.findall("\d+", sheet)[0])
        # parsing all the sheets to a dictionary
        trial_dict = {}
        for sheet in sheet_names:
            trial_dict[sheet] = excel_file.parse(sheet)
        # parsing all the sheets to a dictionary
        trial_dict = {}
        for sheet in sheet_names:
            trial_dict[sheet] = excel_file.parse(sheet)
        # shuffling the pandas dataframe
        for sheet in sheet_names:
            trial_dict[sheet] = excel_file.parse(sheet).sample(frac=1).reset_index(drop=True)
        # selecting only half of the dataframes in each sheet, so that there is some randomness
        for sheet in sheet_names:
            trial_dict[sheet] = excel_file.parse(sheet)[:150]
        # adding user_id column for each dataframe
        for index, sheet in enumerate(sheet_names):
            trial_dict[sheet]['user_id'] = np.repeat(a=np.array([user_id_list[index]]), repeats=len(trial_dict[sheet]))
        # combined_df = pd.concat([pd.concat(v) for k,v in trial_dict.items()])
        combined_df = pd.concat([v for k, v in trial_dict.items()], axis=0)
    return combined_df

In [14]:
pkl_file = 'mobilecombined_df.pickle'
excel_file = 'mobile_data.xlsx'
combined_df = get_combined_df(pkl_file, excel_file)
combined_df

               model_name Category  Views  Likes  Comments user_id
0        Huawei nova 8 5G   Mobile    418    117       853       1
1    Huawei nova 8 Pro 5G   Mobile    262    277       248       1
2               Honor V40   Mobile    434    767       289       1
3        Oppo Find X3 Neo   Mobile    255    507       161       1
4            Oppo Find X3   Mobile    700    441       921       1
..                    ...      ...    ...    ...       ...     ...
145        Huawei Mate 30   Mobile    113    182       191      83
146    Huawei Mate 30 Pro   Mobile    922    161       157      83
147        HuaweiÂ Nova 5   Mobile    526    565       613      83
148    HuaweiÂ Nova 5 Pro   Mobile    529    866       654      83
149   HuaweiÂ Nova 5i Pro   Mobile    476    643       170      83

[12450 rows x 6 columns]