In [1]:
from sklearn.preprocessing import MinMaxScaler
scaling = MinMaxScaler()
import pandas as pd

In [2]:
mobile_df = pd.read_csv('mobile_data.csv')
mobile_df

                 model_name Category  Views  Likes  Comments
0          Huawei nova 8 5G   Mobile    243    814       406
1      Huawei nova 8 Pro 5G   Mobile    987     77       172
2                 Honor V40   Mobile    272    969       198
3          Oppo Find X3 Neo   Mobile    568    144       552
4              Oppo Find X3   Mobile    677    932       305
..                      ...      ...    ...    ...       ...
220       Xiaomi Mi CC9 Pro   Mobile    543     57       801
221         ZTE Axon 10 Pro   Mobile    859    792       234
222   ZTE Nubia Red Magic 3   Mobile    973    283        47
223  ZTE Nubia Red Magic 3S   Mobile    275    592       907
224           ZTE Nubia Z20   Mobile    481    392       544

[225 rows x 5 columns]

In [4]:
df_scaled = scaling.fit_transform(X=mobile_df[['Views', 'Likes', 'Comments']])
df_scaled = pd.DataFrame(df_scaled, columns = ['Views', 'Likes', 'Comments'])
df_scaled.head()

      Views     Likes  Comments
0  0.243461  0.824669  0.409602
1  0.991952  0.073394  0.170582
2  0.272636  0.982671  0.197140
3  0.570423  0.141692  0.558733
4  0.680080  0.944954  0.306435

In [5]:
mobile_df[['normalized_views', 'normalized_likes', 'normalized_comments']] = df_scaled

In [6]:
mobile_df['normalized_score'] = (mobile_df['normalized_views']*0.33) + (mobile_df['normalized_likes']*0.33) + (mobile_df['normalized_comments']*0.33)
mobile_df = mobile_df.sort_values(by='normalized_score', ascending=False)
mobile_df

,model_name,Category,Views,Likes,Comments,normalized_views,normalized_likes,normalized_comments,normalized_score
194,Samsung Galaxy Note 10+,Mobile,962,933,610,0.966801,0.945973,0.617978,0.835148
81,Xiaomi Black Shark 3 Pro,Mobile,720,883,867,0.723340,0.895005,0.880490,0.824616
87,Redmi Note 9 Pro/Note 9S,Mobile,664,960,701,0.667002,0.973496,0.710930,0.775971
44,Honor 30 Pro+,Mobile,777,926,620,0.780684,0.938838,0.628192,0.774746
215,Xiaomi Black Shark 2,Mobile,907,782,626,0.911469,0.792049,0.634321,0.771487
...,...,...,...,...,...,...,...,...,...
46,Honor 30,Mobile,72,178,200,0.071429,0.176351,0.199183,0.147497
47,Honor 30S,Mobile,341,87,18,0.342052,0.083588,0.013279,0.144843
209,Vivo iQOO Pro,Mobile,6,12,418,0.005030,0.007136,0.421859,0.143228
61,Realme 6,Mobile,173,99,17,0.173038,0.095821,0.012257,0.092768
155,Lenovo Z6 Pro,Mobile,1,183,78,0.000000,0.181448,0.074566,0.084484

In [9]:
top_10_model_list = [_ for _ in (mobile_df[:10]).iloc[:,0]]
top_10_model_list

['Samsung Galaxy Note 10+',
 'Xiaomi Black Shark 3 Pro',
 'Redmi Note 9\xa0Pro/Note 9S',
 'Honor 30 Pro+',
 'Xiaomi\xa0Black Shark 2',
 'Xiaomi Black Shark 4',
 'Xiaomi Black Shark 4 Pro',
 'Nokia 7.2',
 'OnePlus 8 Pro',
 'LG G8 ThinQ']