In [1]:
from sklearn.preprocessing import MinMaxScaler
scaling = MinMaxScaler()
import pandas as pd

In [2]:
mobile_df = pd.read_csv('mobile_data.csv')
mobile_df

                 model_name Category  Views  Likes  Comments
0          Huawei nova 8 5G   Mobile    243    814       406
1      Huawei nova 8 Pro 5G   Mobile    987     77       172
2                 Honor V40   Mobile    272    969       198
3          Oppo Find X3 Neo   Mobile    568    144       552
4              Oppo Find X3   Mobile    677    932       305
..                      ...      ...    ...    ...       ...
220       Xiaomi Mi CC9 Pro   Mobile    543     57       801
221         ZTE Axon 10 Pro   Mobile    859    792       234
222   ZTE Nubia Red Magic 3   Mobile    973    283        47
223  ZTE Nubia Red Magic 3S   Mobile    275    592       907
224           ZTE Nubia Z20   Mobile    481    392       544

[225 rows x 5 columns]

In [4]:
df_scaled = scaling.fit_transform(X=mobile_df[['Views', 'Likes', 'Comments']])
df_scaled = pd.DataFrame(df_scaled, columns = ['Views', 'Likes', 'Comments'])
df_scaled.head()

      Views     Likes  Comments
0  0.243461  0.824669  0.409602
1  0.991952  0.073394  0.170582
2  0.272636  0.982671  0.197140
3  0.570423  0.141692  0.558733
4  0.680080  0.944954  0.306435

In [5]:
mobile_df[['normalized_views', 'normalized_likes', 'normalized_comments']] = df_scaled

In [ ]:
mobile_df['normalized_score'] = mobile_df['normalized_views']*0.33 + mobile_df['normalized_popularity']*0.5